---
import Scene from "../components/scene";
import Controllers from "../components/Controllers";
---

<html lang="en">
  <head>
    <title>My Homepage</title>
  </head>
  <body>
    <div class="w-full flex justify-center">
      <h1 class="font-bold text-xl text-white block absolute">
        react-three/fiber test01 4/23/2024
      </h1>
    </div>
    <Scene client:load />
  </body>
</html>

<style>
  body {
    background-color: black;
  }
</style>
